<!DOCTYPE html>
<html>
<head>
	<title>PocketWork</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.png') }}" type="image/x-icon">  
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'tailwind.css') }}">
	<style type="text/css">
		body { 
		   opacity: 0;
		   transition: opacity 1s;
		}
	</style>
	<script type="text/javascript">
		window.transitionToPage = function(href) {
		    document.querySelector('body').style.opacity = 0
		    setTimeout(function() { 
		        window.location.href = href
		    }, 500)
		}

		document.addEventListener('DOMContentLoaded', function(event) {
		    document.querySelector('body').style.opacity = 1
		})	
	</script>
</head>
<body style="background-image: linear-gradient(to right, lightgray , lightblue);">
	<div class="m-8 md:flex md:justify-between">
		<div class="text-4xl text-indigo-900 font-display font-semibold w-full md:w-2/3">PocketWork Dashboard</div>
		<a href="{{ url_for('createjob')}}"><button class="text-md text-white mt-2 border-2 px-2 py-1 rounded-lg w-24 md:w-32 md:float-right bg-indigo-400 hover:bg-indigo-200">Create job</button></a>
		<a href="{{ url_for('applications')}}"><button class="text-md text-white mt-2 border-2 px-2 py-1 rounded-lg w-24 md:w-32 md:float-right bg-indigo-400 hover:bg-indigo-200">Applications</button></a>		
        <a href="{{ url_for('logout')}}"><button class="text-md text-white mt-2 border-2 px-2 py-1 rounded-lg w-24 md:w-32 md:float-right bg-indigo-400 hover:bg-indigo-200">Logout</button></a>
    </div>
	<br>
    <h3 class="mt-8 mx-8 text-xl font-serif md:text-2xl font-diplay my-auto">Welcome back ! <span class="text-indigo-700">{{ session['email'].split("@")[0] }}</span></h3>
    <h3 class="mt-8 mx-8 text-xl font-serif md:text-2xl font-diplay">Filter Jobs using keywords or categories</h3>
    <form action="" method="GET">
    <input type="text" name="key" class="m-4 w-11/12 md:w-1/3 rounded-lg px-4 h-10">
    <span class="mt-8 mx-8 text-xl font-serif md:text-2xl font-diplay">City&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
    <select id="city" name="city" class="m-4 rounded-lg px-4 h-10 w-1/2 md:w-auto">
        <option value="Delhi">Delhi</option>
        <option value="Hyderabad">Hyderabad</option>
        <option value="Chennai">Chennai</option>
        <option value="Mumbai">Mumbai</option>
        <option value="Banglore">Banglore</option>
    </select>
    <span class="mt-8 mx-8 text-xl font-serif md:text-2xl font-diplay w-1/2">Category</span>
    <select id="cat" name="cat" class="m-4 rounded-lg px-4 h-10 w-1/2 md:w-auto">
        <option value="Arts">Arts</option>
        <option value="Programming">Programming</option>
        <option value="Woodworking">Woodworking</option>
        <option value="Music">Music</option>
        <option value="Photography">Photography</option>
        <option value="Gardening">Gardening</option>
    </select>
    <button class="w-11/12 md:w-32 border-2 bg-indigo-400 rounded-lg h-10 m-4 text-white md:m-0">Search</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <h3 class="mt-8 mx-8 text-red-500 text-xl font-serif md:text-md font-diplay my-auto">{{ message }}</h3>
            {% endfor %}
        {% endif %}
    {% endwith %}

    
    {% for post in posts %}
    <div class="m-4 md:flex md:justify-between w-11/12 border-4 rounded-lg pb-4">
        <div class="m-4 rounded-lg">
            <h3 class="text-xl font-serif md:text-2xl font-diplay mx-4">{{ post.title }}</h3>
            <h3 class="text-md text-gray-700 font-serif md:text-xl font-diplay mx-4">{{ post.desc }}</h3>
            <h3 class="text-md text-gray-700 font-serif md:text-xl font-diplay mx-4 font-semibold">PocketMoney : {{ post.money }}$</h3>
            <br>
            <h3 class="text-md font-serif md:text-xl font-diplay mx-4">City: {{post.city}}</h3>
            <h3 class="text-md font-serif md:text-xl font-diplay mx-4">Category: {{post.category}}</h3>
            <h3 class="text-md font-serif md:text-xl font-diplay mx-4">Posted by: {{ post.poster }}</h3>
        </div>

        <button onclick='location.href="/apply?title={{ post.title }}&poster={{ post.poster }}";' class="w-11/12 md:w-64 border-2 bg-indigo-400 rounded-lg h-10 m-4 text-white my-auto">Apply</button>

    </div>
    {% endfor %}

 
</body>
</html>